body {
    background-color:#e4d6d6;
}

#title { 
    
    text-align: center;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#subTitle {
   
    margin-top: -5%;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
#dietlable {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

#dietRest {
    margin-left: 17%;
    margin-bottom: 5%;
    text-decoration: black;
}

.mealTypesBtns {
    margin-left: 20%;
}
 /* submit btn */
 
 span {
    color: black;
 }

 #mGlass {
     color: black;
 }
 
 #firstCol {
     padding-right: 20px;
 }
 
 #allergiesTitles { 
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.allerBar {
    text-align: center;
    color: black;

}
 
#subTitle2 {
   
    margin-top: -5%;
    margin-bottom: -10px;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputAlign  {
    padding-left: 30%;
    padding-top: 10px;
    font-size: 20px;
}

#dietBtns {
padding-bottom: 30px;

}

p {
    color: black;
}